# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
venv/
env/
ENV/
env.bak/
venv.bak/

# Data and Models
data/
*.csv
*.pth
*.json
*.pkl

# Ide files
.idea/
.vscode/

# Ignore Jupyter notebooks
*.ipynb

# CatBoost Logs
catboost_info/